#button{
    background: rgb(101, 221, 101);
    margin: 2%;
    padding: 1% 2%;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}
#heading-grid, .grid-container{
    
    display: grid;
    grid-template-columns: 600px 300px 300px ;
    grid-template-rows: 40px;
    margin-left: 2%;
    font-weight: bold;
}

#name, #phone{
    font-size: large;
font-weight: bolder;
color: lightslategrey;
}

.dlt-btn{
    background-color: darksalmon;
    cursor: pointer;
    padding: 3% 4%;
    font-weight: bold;
    border: none;
}
